<app-sidebar></app-sidebar>

          <!-- Page title-->
          <div class="border-bottom pt-5 mt-2 mb-5">
            <h1 class="mt-2 mt-md-4 mb-3 pt-5">Productos</h1>
            <div class="d-flex flex-wrap flex-md-nowrap justify-content-between">
              <p class="text-muted">Este módulo lista todos los Productos de la tienda.</p>
              <p class="font-size-sm font-weight-medium pl-md-4">
                <a class="text-nowrap" [routerLink]="['/panel/productos/registro']" >Registrar nuevo<i class="cxi-angle-right font-size-base align-middle ml-1"></i></a></p>
            </div>
          </div>

          <div class="card box-shadow-sm">
                <div class="card-header">
                    <h5 style="margin-bottom: 0px;">Filtro de Productos</h5>
                </div>
                <div class="card-header">
                    <div class="row">
                        <div class="col-6">
                            <!-- Button addon on the right -->
                            <div class="input-group">
                                <input class="form-control" type="text" placeholder="tituo del producto" name="filtro" [(ngModel)]="filtro">
                                <button class="btn btn-primary" type="button" (click)="filtrar()" >filtrar</button>
                                <button class="btn btn-info" type="button" (click)="resetear()" >resetear</button>
                            </div>
                        </div>
                    </div>
                    <div class="col-12 mt-3">
                      <button class="btn btn-success" (click)="download_excel()" >Exportar a excel</button>
                    </div>
                </div>
             
                <div class="card-body">
                    <div class="table-responsive">
                        <table class="table table-bordered">
                          <thead class="table-dark">
                            <tr>
                              <!-- <th>#</th> -->
                              <th>Titulo</th>
                              <th>Stock</th>
                              <th>Precio</th>
                              <th>Categoria</th>

                              <th>Nventas</th>
                              <th>Opciones</th>
                            </tr>
                          </thead>

                          <tbody *ngIf="load_data">
                            <tr>
                              <td class="text-center" colspan="7">
                                <!-- Custom size border spinner -->
                                <div class="spinner-border" style="width: 3rem; height: 3rem;" role="status">
                                  <span class="visually-hidden"> </span>
                                </div>
                              </td>
                            </tr>
                          </tbody>
                          <ng-container *ngIf="!load_data" >
                                <tbody *ngFor="let item of productos | slice: ( page-1 ) * pageSize : ( page -1 ) * pageSize + pageSize;">
                                    <tr>
                                        <td><h6 style="padding-bottom: 0; margin-bottom: 0;">
                                            <img style="width: 50px;" [src]="url +'obtener_portada/'+item.portada" class="img-thumbnail rounded-0" alt="Square image">
                                            {{item.titulo}}
                                        </h6></td>
                                        <td>{{item.stock}}</td>
                                        <td>{{item.precio}}</td>
                                        <td>{{item.categoria}}</td>
                                        <td>{{item.nventas}}</td>
                                        <td><div class="btn-group dropdown d-inline-block mb-3 m2-2">
                                            <button type="button" class="btn btn-outline-secondary btn-sm dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                              Opciones
                                            </button>
                                            <div class="dropdown-menu">
                                              <a  class="dropdown-item" [routerLink]="['/panel/productos',item._id]" routerLinkActive="router-link-active">Editar Producto</a>
                                              <a  class="dropdown-item" style="cursor: pointer;" data-toggle="modal" [attr.data-target]="'#delete-'+item._id" >Eliminar</a>
                                              <a  class="dropdown-item" [routerLink]="['/panel/productos/inventario',item._id]" routerLinkActive="router-link-active">Inventario</a>
                                              <a  class="dropdown-item" [routerLink]="['/panel/productos/variedades',item._id]" routerLinkActive="router-link-active">Variedades</a>
                                              <a  class="dropdown-item" [routerLink]="['/panel/productos/galeria',item._id]" routerLinkActive="router-link-active">Galeria</a>



                                            </div>
                                          </div>
                                          <div class="modal fade" id="delete-{{item._id }}" tabindex="-1" style="display: none;" aria-hidden="true">    
                                            <div class="modal-dialog modal-dialog-centered" role="document">
                                              <div class="modal-content">
                                                <div class="modal-header">
                                                  <h4 class="modal-title">Confirmacion de eliminacion</h4>
                                                  <button class="btn-close" type="button" data-bs-dismiss="modal" aria-label="Close"></button>
                                                </div>
                                                <div class="modal-body">
                                                  <p class="fs-sm">{{item.titulo}}, Desea eliminar este cliente?</p>
                                                </div>
                                                <div class="modal-footer">
                                                  <button class="btn btn-secondary btn-sm" type="button" data-bs-dismiss="modal">Cancelar</button>
                                                  <button *ngIf="!load_btn" class="btn btn-primary btn-sm"  (click)="eliminar(item._id)" type="button">Si, eliminar</button>
                                                  <div *ngIf="load_btn" class="spinner-grow" style="width: 3rem; height: 3rem;" role="status" disabled>
                                                    <span class="visually-hidden">Loading...</span>
                                                  </div>
                                                </div>
                                              </div>
                                            </div>
                                          </div>
                                        </td>
                                    </tr>
                                </tbody>
                          </ng-container>
                          
                          
                        </table>
                    </div>
                </div>
                <div class="card-footer">
                  <ngb-pagination 
                  [(page)]="page"
                  [pageSize]="pageSize"
                  [collectionSize]="productos.length"
                  ></ngb-pagination>
                 
                </div>
          </div>   
