<div class="row" style="width: 100%;height: 100%; margin-top:80px">

            <div class="col-lg-7 mx-auto" style="display: flex;align-items: center;">
                <div class=" px-md-5 px-4">
                    <h3 class="modal-title mt-4 mb-0 text-center mb-5">Iniciar Sesion</h3>
                    <p class="font-size-sm text-muted text-center">Inicie sesión en su cuenta utilizando el correo electrónico y la contraseña proporcionados durante el registro.</p>

<!-- form para el formulario login -->

                    <form #loginForm="ngForm" (ngSubmit)="login(loginForm)">

                        <div class="form-group">
                            <label for="signin">Correo Electronico</label>
                            <input type="username" class="form-control" name="username" [(ngModel)]="user.username" placeholder="Correo Electronico" required="">


                        </div>

                        <div class="form-group">
                            <label for="signin-password" class="form-label">Clave</label>
                            <div class="cs-password-toggle input-group-overlay">
                            <input type="password" class="form-control appended-form-control" name="password" [(ngModel)]="user.password" placeholder="Your password" required="">
                            <div class="input-group-append-overlay">
                                <label class="btn cs-password-toggle-btn input-group-text">
                                <input type="checkbox" class="custom-control-input">
                                <i class="cxi-eye cs-password-toggle-indicator"></i>
                                <span class="sr-only">Show password</span>
                                </label>
                            </div>
                            </div>
                        </div>
                    
                      <button type="submit" class="btn btn-primary btn-block">Ingresar</button>
                   
                    </form>





                  </div>
            </div>
        </div>